<strong>Olá, {{ user.name }} </strong>
<p>Confirmação de inscrição de Meetup:</p>
<p>
  <strong>Dados do meetup:</strong>
  <small>Titulo: {{ meetup.title }}</small>
  <small>Descrição: {{ meetup.description }}</small>
  <small>Localização: {{ meetup.location }}</small>
</p>
<p>
  <strong>Data/hora:</strong> {{ date }} <br />
  <br />
  <small>
    Caso não tenha feito nenhuma inscrição, ignore este email
  </small>
</p>
